@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,400;1,700&family=Pattaya&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*ENCABEZADO*/

.navbar{
    font-family: Pattaya,sans-serif;
    font-size: 4vh;
}

.nav-link {
    transition: 1s;
}

.nav-link:hover {
    border-bottom: black solid 0.5vh;
}

/*CUERPO*/

.mb-3 {
   
    padding: 1vh;
    background-color:rgb(154, 236, 219);
    text-align: center;
    font-family: Amaranth,sans-serif;
}

.display-1 {
    font-family: Amaranth,sans-serif;
    text-align: center;
}

.h2 {
    font-family: Amaranth,sans-serif;
    text-align: center;
}

.lead {
    font-family: Amaranth,sans-serif; 
    text-align: center;
}

.btn {
    font-family: Amaranth,sans-serif;
}

.h3 {
    font-family: Amaranth,sans-serif;   
}

.section {
   
    padding: 1vh;
    background-color:rgb(154, 236, 219);
    width: auto;
    text-align: center;
    font-style: normal;
}

.section__fotos:hover{

    transform: scale(1.5,1.5);
    transition: 2s;
}

.fondo {
    min-height: 20rem;
    background-size: cover;
    background-position: center;
}

.fondo-fondo1{
    background-image: url("../multimedia/LogoArcoIris2.jpg");
}

.fondo-fondo2{
    background-image: url("../multimedia/LogoRositas2.jpg");
}

.fondo-fondo3{
    background-image: url("../multimedia/LogoMargaritas2.jpg");
}
.fondo-fondo4{
    background-image: url("../multimedia/LogoEstrellas2.jpg");
}
.fondo-fondo5{
    background-image: url("../multimedia/LogoJVM2.jpg");
}
.fondo-fondo6{
    background-image: url("../multimedia/LogoSiervas2.jpg");
}


/*PIÉ DE PÁGINA*/
.footer {
    padding:0.5rem;
    background-color: rgb(18, 203, 196);
    background-image:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,203,196,0) 0%, rgba(154,236,219,1) 100%);
}



