@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,400;1,700&family=Pattaya&display=swap");
/*VARIABLES*/
/*RESETEO*/
* {
  margin: 0;
  padding: 0; }

/*ENCABEZADO*/
.navbar {
  font-family: Pattaya,sans-serif;
  font-size: 4vh; }
  .navbar .nav-link {
    transition: 1s; }
  .navbar .nav-link:hover {
    border-bottom: black solid 0.5vh; }

.carrousel {
  padding-top: 20vh;
  background-color: #12cbc4; }

/*BODY*/
.section {
  background-color: #9aecdb;
  padding-top: 2vh;
  width: 100%;
  text-align: center;
  font-style: normal;
  /*LISTAS*/ }
  .section .display-1 {
    font-family: Amaranth, sans-serif;
    text-align: center; }
  .section .fondo {
    min-height: 20rem;
    background-size: cover;
    background-position: center; }
  .section .fondo-fondo1 {
    Background-image: url("../multimedia/fondo1.jpg"); }
  .section .fondo-fondo2 {
    Background-image: url("../multimedia/fondo2.jpg"); }
  .section .fondo-fondo3 {
    Background-image: url("../multimedia/fondo3.jpg"); }
  .section .fondo-fondo4 {
    Background-image: url("../multimedia/fondo4.jpg"); }
  .section .fondo-fondo5 {
    Background-image: url("../multimedia/fondo5.jpg"); }
  .section .fondo-fondo6 {
    Background-image: url("../multimedia/fondo6.jpg"); }

.h1 {
  font-family: Amaranth, sans-serif;
  text-align: center;
  font-size: 5vh; }

.h2 {
  font-family: Amaranth, sans-serif;
  text-align: center; }

.lead {
  font-family: Amaranth, sans-serif;
  text-align: center; }

.btn {
  font-family: Amaranth, sans-serif; }

.h3 {
  font-family: Amaranth, sans-serif; }

/*FORMULARIO*/
.mb-3 {
  padding-top: 5vh;
  background-color: #9aecdb;
  text-align: center;
  font-family: Amaranth, sans-serif;
  padding-bottom: 5vh; }

/*GALERIA*/
.contenedor-galeria {
  background-color: #9aecdb;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh; }
  .contenedor-galeria .fotos:hover {
    filter: sepia(60%); }
  .contenedor-galeria .borde {
    border: solid #12cbc4 0.5vh; }

/*PIÉ DE PÁGINA*/
.footer {
  padding: 0.5rem;
  background-color: #12cbc4;
  background-image: linear-gradient(90deg, black 0%, rgba(18, 203, 196, 0) 0%, #9aecdb 100%); }
